<!-- prettier-ignore -->
{% set title          = 'Hello, world' %}
{% set description    = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' %}
{% set canonical      = 'Hello, world' %}

<!-- prettier-ignore -->
{% extends '../../layout/index.html' %}
{% block content %}

<div class="wrapper">
  <h1 class="page-title">Building an Accessible Accordion</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium corporis deserunt ab porro alias debitis voluptatum, dignissimos adipisci, dolor laborum minus hic!</p>
</div>

<div class="wrapper">
  <h2 class="demo-title">Accordion Demo</h2>
  <div class="demo-wrapper">
    {% include '../../partials/accordion.html' with {
      'title': 'Accordion Group 1',
      'description': '
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla
        veritatis beatae ullam quas repellendus praesentium corporis deserunt ab
        porro alias debitis voluptatum, dignissimos adipisci, dolor laborum minus
        hic!
      </p>
      ',
      'block_id': 1,
      'open_first': true,
      'accordions': [
        {
          'title': 'Group 1 Item 1',
          'text': '
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'Group 1 Item 2',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'Group 1 Item 3',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
      ],
    } %}
    {% include '../../partials/accordion.html' with {
      'title': 'Accordion Group 2',
      'description': '
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla
        veritatis beatae ullam quas repellendus praesentium corporis deserunt ab
        porro alias debitis voluptatum, dignissimos adipisci, dolor laborum minus
        hic!
      </p>
      ',
      'block_id': 2,
      'open_first': false,
      'accordions': [
        {
          'title': 'Group 2 Item 1',
          'text': '
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'Group 2 Item 2',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'Group 2 Item 3',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
      ],
    } %}
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title">Design Accessibility Requirements</h2>
  <div class="demo-wrapper">

    <h3>Design Requirements</h3>
    <p>Here are the requirements for accessibility that should be considered when designing an accordion.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Element</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Panel (collapsed)</td>
          <td>When an accordion is collapsed.</td>
        </tr>
        <tr>
          <td>Panel (expanded)</td>
          <td>When an accordion is expanded.</td>
        </tr>
        <tr>
          <td>Button (all)</td>
          <td>When any button element gains focus, all button elements within that accordion group change background colour.</td>
        </tr>
        <tr>
          <td>Button (hover)</td>
          <td>When a button element is hovered, that button changes background colour to indicate it is hovered.</td>
        </tr>
        <tr>
          <td>Button (focus)</td>
          <td>When a button element gains focus, that button changes background colour to differentiate from other buttons in that accordion group.</td>
        </tr>
        <tr>
          <td>Button (expanded)</td>
          <td>When an accordion is expanded, its button trigger will have a persistent style (arrow direction) to indicate that it is expanded.</td>
        </tr>
      </tbody>
    </table>

    <h3>Design States</h3>
    <p>Here are the list of states that should be designed and built for an accordion.</p>
    <ol>
      <li><strong>Default</strong> - the design with no interaction or expansion.</li>
      <li><strong>Hover</strong> - the design when an individual button is hovered.</li>
      <li><strong>Focus</strong> - the design when an individual button is focussed.</li>
      <li><strong>Focus (other buttons)</strong> - the design of the other buttons in the group when an individual button is focussed.</li>
      <li><strong>Expanded</strong> - the design when an accordion item is expanded.</li>
    </ol>

  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title">Development Accessibility Requirements</h2>
  <div class="demo-wrapper">
    <h3>Keyboard Use</h3>
    <p>Keyboard navigation is important to ensure is working correctly. This also needs to work with the ARIA states to ensure are updated when needed.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enter / Space</td>
          <td>When focus is on the accordion header, toggles whether is expanded or collapsed.</td>
        </tr>
        <tr>
          <td>Tab</td>
          <td>Moves to the next focusable element, including those in any expanded accordions.</td>
        </tr>
        <tr>
          <td>Shift + Tab</td>
          <td>Moves to the previous focusable element, including those in any expanded accordions.</td>
        </tr>
        <tr>
          <td>Down Arrow</td>
          <td>When focussed on an accordion header will move focus to the next accordion header. If on the last accordion header (within this group of accordions), it will move focus to the first accordion header.</td>
        </tr>
        <tr>
          <td>Up Arrow</td>
          <td>When focussed on an accordion header will move focus to the previous accordion header. If on the first accordion header (within this group of accordions), it will move focus to the last accordion header.</td>
        </tr>
        <tr>
          <td>Home Key</td>
          <td>When focussed on an accordion header will move focus to the first accordion header (within this group of accordions).</td>
        </tr>
        <tr>
          <td>End Key</td>
          <td>When focussed on an accordion header will move focus to the last accordion header (within this group of accordions).</td>
        </tr>
      </tbody>
    </table>

    <h3>ARIA Requirements</h3>
    <p>Here is a breakdown of the ARIA states required by an accordion and the elements are against.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aria-expanded</td>
          <td>Set to TRUE / FALSE on the button element when the accordion is expanded or collapsed.</td>
        </tr>
        <tr>
          <td>aria-controls</td>
          <td>ID of the panel that the button element should expand or collapse.</td>
        </tr>
        <tr>
          <td>aria-labelledby</td>
          <td>ID of the button element that controls the panel element.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title">Usage</h2>
  <div class="demo-wrapper">

    <!-- htmlmin:ignore -->
    <pre class="source-code"><code>const accordions = document.querySelectorAll('.accordion');

for (let i = 0; i < accordions.length; i++) {
  new Accordion({
    // Accordion group node
    accordion: accordions[i],
    // Identifier of the individual accordion item node within the group node
    item_class: '.accordion__item',
    // Class of the content section within the individual accordion item
    content_class: '.accordion__content',
    // Class of the trigger within the individual accordion item
    trigger_class: '.accordion__trigger',
    // Class to be added to the content section when active
    content_active_class: 'accordion__content--active',
    // Class to be added to the individual accordion item when active
    open_class: 'open',
    // Whether to open the first accordion item on page load
    open_first: accordions[i].getAttribute('data-open-first'),
    // Whether to collapse other accordions when one opened
    collapse_others: true
  });
}</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title">Source Code</h2>
  <div class="demo-wrapper">
    <!-- htmlmin:ignore -->
    <pre class="source-code"><code>const Accordion = class {
  constructor(s) {
    this.s = s;
    this.accordion = s.accordion;
    this.accordion_items = Array.prototype.slice.call(this.accordion.querySelectorAll(s.item_class));
    this.accordion_contents = Array.prototype.slice.call(this.accordion.querySelectorAll(s.content_class));
    this.accordion_triggers = Array.prototype.slice.call(this.accordion.querySelectorAll(s.trigger_class));

    this.accordion_click = this.accordion_click.bind(this);
    this.navigate_accordions = this.navigate_accordions.bind(this);
    this._init_events();
  }

  _init_events() {
    // Loop through all the passed triggers and attach on click and navigation functions
    for (let i = 0; i < this.accordion_triggers.length; i++) {
      this.accordion_triggers[i].onclick = this.accordion_click;
      this.accordion_triggers[i].onkeydown = this.navigate_accordions;
    }

    // If told to open the first accordion item trigger click
    if((this.s.open_first === true || this.s.open_first === 'true') && this.accordion_triggers.length > 0) {
      this.accordion_triggers[0].click();
    }
  }

  navigate_accordions(e) {
    // Store key value of keypress
    var key = e.which.toString();

    // 38 = Up, 40 = Down
    // 33 = Page Up, 34 = Page Down
    var ctrlModifier = (event.ctrlKey && key.match(/33|34/));

    // Up/ Down arrow and Control + Page Up/ Page Down keyboard operations
    if (key.match(/38|40/) || ctrlModifier) {
      var index = this.accordion_triggers.indexOf(e.currentTarget);
      var direction = (key.match(/34|40/)) ? 1 : -1;
      var length = this.accordion_triggers.length;
      var newIndex = (index + length + direction) % length;

      this.accordion_triggers[newIndex].focus();

      e.preventDefault();
    }
    else if (key.match(/35|36/)) {
      // 35 = End, 36 = Home keyboard operations
      switch (key) {
        // Go to first accordion
        case '36':
          this.accordion_triggers[0].focus();
          break;
          // Go to last accordion
        case '35':
          this.accordion_triggers[this.accordion_triggers.length - 1].focus();
          break;
      }
      e.preventDefault();
    }
  }

  accordion_click(e) {

    // Determine if we are opening or closing the accordion item
    let method = (e.currentTarget.getAttribute('aria-expanded') === 'true') ? 'collapse' : 'expand';

    // Loop through each of the item triggers
    for (let i = 0; i < this.accordion_triggers.length; i++) {

      // Store the current trigger
      let item = this.accordion_triggers[i];

      // If are to collapse other accordions when one opened
      if(this.s.collapse_others) {
        // Set the current trigger to being not expanded
        item.setAttribute('aria-expanded', 'false');
        // Remove the open class from the accordion item
        this.accordion_items[i].classList.remove(this.s.open_class);
        // Remove the active class from the accordion content
        this.accordion_contents[i].classList.remove(this.s.content_active_class);
      }
    }

    // Variables to store the index of the item being clicked
    let active_index = this.accordion_triggers.indexOf(e.currentTarget);

    // If the detected movement is to collapse and set to not collapse other accordion items
    if (method === 'collapse' && this.s.collapse_others === false) {

      // Set the current trigger to being collapsed
      e.currentTarget.setAttribute('aria-expanded', 'false');
      // Remove the open class to the accordion item using corrosponding index
      this.accordion_items[active_index].classList.remove(this.s.open_class);
      // Remove the active class to the accordion content using corrosponding index
      this.accordion_contents[active_index].classList.remove(this.s.content_active_class);
    }

    // If the detected movement is to expand the accordion item
    if (method === 'expand') {

      // Set the current trigger to being expanded
      e.currentTarget.setAttribute('aria-expanded', 'true');
      // Add the open class to the accordion item using corrosponding index
      this.accordion_items[active_index].classList.add(this.s.open_class);
      // Add the active class to the accordion content using corrosponding index
      this.accordion_contents[active_index].classList.add(this.s.content_active_class);

      // Get the bounding data for the clicked trigger
      var bounding = e.currentTarget.getBoundingClientRect();
      // Check against the current triggers position
      if (bounding.top >= 0 && bounding.left >= 0 && bounding.right <= window.innerWidth && bounding.bottom <= window.innerHeight) {
        // In view so do nothing
      } else {
        // Scroll new active accordion block into view
        e.currentTarget.scrollIntoView();
      }
    }
  }
};

export default Accordion;</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>


{% endblock %}
