<!-- prettier-ignore -->
{% set title          = 'Hello, world' %}
{% set description    = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.' %}
{% set canonical      = 'Hello, world' %}

<!-- prettier-ignore -->
{% extends '../../layout/index.html' %}
{% block content %}

<div class="wrapper page-intro">
  <h1 class="page-title">Accessible Accordions</h1>
  <p>Accordions are a widely used pattern in websites, they allow the reduction of the size of the page while not removing content for the user. You should make sure though that they are the correct pattern to use for your situation, and if you do, ensure they they are accessible to everyone.</p>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="should-i-use-accordion"><a href="#should-i-use-accordion">Should I use an Accordion?</a></h2>
  <div class="demo-wrapper">
    <p>The first question would be, is <strong>all of the content</strong> relevant and neccessary for the user?</p>
    <p>If all of the content is needed, then to require a user to progress through all of the accordions isn't going to provide a good user experience for anyone. This bad user experience could be esspecially bad for those with accessibility needs.</p>
    <p>If only some of the content will be relevant to the user though, accordions might be a benefit. An example of this would be an FAQ, where a user may be looking for a specific question, and so only some of the answers would be relevant.</p>
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="accessible-accordion-demo"><a href="#accessible-accordion-demo">Accessible Accordion – Interactive Demo</a></h2>
  <div class="demo-wrapper">
    {% include '../../partials/accordion.html' with {
      'title': 'A title can be helpful to provide an introduction to what the purpose or topic the following group of accordions is.',
      'description': '
      <p>If needed then you can also provide a more long form bit of context, this serves a purpose for all users.</p>
      ',
      'block_id': 1,
      'open_first': true,
      'accordions': [
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
      ],
    } %}
    {% include '../../partials/accordion.html' with {
      'title': 'As there are two groups you can give context to what the difference is between them with a title.',
      'description': '
      <p>If needed then you can also provide a more long form bit of context, this serves a purpose for all users.</p>
      ',
      'block_id': 2,
      'open_first': false,
      'accordions': [
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
        {
          'title': 'A specific title for this item',
          'text': '
          <p>Lorem ipsum dolor sit amet, <a href="">consectetur</a> adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.</p>
          '
        },
      ],
    } %}
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="design-accessibility-requirements"><a href="#design-accessibility-requirements">Design Accessibility Requirements</a></h2>
  <div class="demo-wrapper">

    <h3>Design Requirements</h3>
    <p>Here are the requirements for accessibility that should be considered when designing an accordion. These are accordion specific elements but also rules that apply for all web elements such as colour contrast.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Element</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Panel (collapsed)</td>
          <td>When an accordion is collapsed.</td>
        </tr>
        <tr>
          <td>Panel (expanded)</td>
          <td>When an accordion is expanded.</td>
        </tr>
        <tr>
          <td>Button (all)</td>
          <td>When any button element gains focus, all button elements within that accordion group change background colour.</td>
        </tr>
        <tr>
          <td>Button (hover)</td>
          <td>When a button element is hovered, that button changes background colour to indicate it is hovered.</td>
        </tr>
        <tr>
          <td>Button (focus)</td>
          <td>When a button element gains focus, that button changes background colour to differentiate from other buttons in that accordion group.</td>
        </tr>
        <tr>
          <td>Button (expanded)</td>
          <td>When an accordion is expanded, its button trigger will have a persistent style (arrow direction) to indicate that it is expanded.</td>
        </tr>
      </tbody>
    </table>

    <h3>Design States</h3>
    <p>Designs for an accordion should cover the following five states, and take into account the requirements listed above.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>State</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Default</td>
          <td>The design with no interaction or expansion.</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td>The design when an individual button is hovered.</td>
        </tr>
        <tr>
          <td>Focus</td>
          <td>The design when an individual button is focussed.</td>
        </tr>
        <tr>
          <td>Focus (other buttons)</td>
          <td>The design of the other buttons in the group when an individual button is focussed.</td>
        </tr>
        <tr>
          <td>Expanded</td>
          <td>The design when an accordion item is expanded.</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="dev-accessibility-requirements"><a href="#dev-accessibility-requirements">Development Accessibility Requirements</a></h2>
  <div class="demo-wrapper">
    <h3>Keyboard Use</h3>
    <p>Keyboard navigation is important to ensure is working correctly. This also needs to work with the ARIA states to ensure are updated when needed.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Event</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Enter / Space</td>
          <td>When focus is on the accordion header, toggles whether is expanded or collapsed.</td>
        </tr>
        <tr>
          <td>Tab</td>
          <td>Moves to the next focusable element, including those in any expanded accordions.</td>
        </tr>
        <tr>
          <td>Shift + Tab</td>
          <td>Moves to the previous focusable element, including those in any expanded accordions.</td>
        </tr>
        <tr>
          <td>Down Arrow</td>
          <td>When focussed on an accordion header will move focus to the next accordion header. If on the last accordion header (within this group of accordions), it will move focus to the first accordion header.</td>
        </tr>
        <tr>
          <td>Up Arrow</td>
          <td>When focussed on an accordion header will move focus to the previous accordion header. If on the first accordion header (within this group of accordions), it will move focus to the last accordion header.</td>
        </tr>
        <tr>
          <td>Home Key</td>
          <td>When focussed on an accordion header will move focus to the first accordion header (within this group of accordions).</td>
        </tr>
        <tr>
          <td>End Key</td>
          <td>When focussed on an accordion header will move focus to the last accordion header (within this group of accordions).</td>
        </tr>
      </tbody>
    </table>

    <h3>ARIA Requirements</h3>
    <p>Here is a breakdown of the ARIA states required by an accordion and the elements are against.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Property</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>aria-expanded</td>
          <td><strong>Applied to the button element</strong> - Set to TRUE / FALSE on the button element when the accordion is expanded or collapsed.</td>
        </tr>
        <tr>
          <td>aria-controls</td>
          <td><strong>Applied to the button element</strong> - ID of the panel element that the button controls.</td>
        </tr>
        <tr>
          <td>aria-labelledby</td>
          <td><strong>Applied to the panel element</strong> - ID of the button element that controls the panel.</td>
        </tr>
      </tbody>
    </table>

    <h3>Additional Development Requirements</h3>
    <p>There are a few additional things that you should also take into consideration for the build of an accordion.</p>
    <table class="requirements-table">
      <thead>
        <tr>
          <th>Aspect</th>
          <th>Description</th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Accordion IDs</td>
          <td>Each accordion item will need a unique set of IDs that connect the button trigger and content panel.</td>
        </tr>
        <tr>
          <td>Heading Triggers</td>
          <td>You shouldn't attach click events directly to the heading element, or change the heading element to having the role of a button. This will change how screen readers see the heading as you have changed its semantics. You should put a button within the heading.</td>
        </tr>
        <tr>
          <td>Hiding Panels</td>
          <td>You need to ensure that the content panels aren't just visually hidden, but fully hidden (e.g. display: none), so that they aren't accessed by screen readers or keyboard users. Until they are expanded of course.</td>
        </tr>
        <tr>
          <td>Animations</td>
          <td>For any animations that move elements, you should respect the system preference for 'Reduced Motion'. An example of this can be seen where the arrow animation is removed in the demo when this preference is turned on.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="example-html-code"><a href="#example-html-code">Example HTML Code</a></h2>
  <div class="demo-wrapper">

    <!-- htmlmin:ignore -->
    <pre class="source-code"><code class="language-html">&#x3C;ul class=&#x22;accordion&#x22; data-open-first=&#x22;true&#x22;&#x3E;
    &#x3C;li class=&#x22;accordion__item&#x22;&#x3E;
        &#x3C;h3 class=&#x22;accordion__title&#x22;&#x3E;
            &#x3C;button aria-expanded=&#x22;false&#x22; class=&#x22;accordion__trigger&#x22; aria-controls=&#x22;accordion-1-content-1&#x22; id=&#x22;accordion-1-trigger-1&#x22;&#x3E;
                A specific title for this item
                &#x3C;span class=&#x22;accordion__handle&#x22;&#x3E;
                    &#x3C;svg viewBox=&#x22;0 0 20 10&#x22;&#x3E;&#x3C;path d=&#x22;M0,0 10,10 20,0&#x22;&#x3E;&#x3C;/path&#x3E;&#x3C;/svg&#x3E;
                &#x3C;/span&#x3E;
            &#x3C;/button&#x3E;
        &#x3C;/h3&#x3E;
        &#x3C;div id=&#x22;accordion-1-content-1&#x22; role=&#x22;region&#x22; class=&#x22;accordion__content&#x22; aria-labelledby=&#x22;accordion-1-trigger-1&#x22;&#x3E;
            &#x3C;p&#x3E;Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;
    &#x3C;li class=&#x22;accordion__item&#x22;&#x3E;
        &#x3C;h3 class=&#x22;accordion__title&#x22;&#x3E;
            &#x3C;button aria-expanded=&#x22;false&#x22; class=&#x22;accordion__trigger&#x22; aria-controls=&#x22;accordion-1-content-2&#x22; id=&#x22;accordion-1-trigger-2&#x22;&#x3E;
                A specific title for this item
                &#x3C;span class=&#x22;accordion__handle&#x22;&#x3E;
                    &#x3C;svg viewBox=&#x22;0 0 20 10&#x22;&#x3E;&#x3C;path d=&#x22;M0,0 10,10 20,0&#x22;&#x3E;&#x3C;/path&#x3E;&#x3C;/svg&#x3E;
                &#x3C;/span&#x3E;
            &#x3C;/button&#x3E;
        &#x3C;/h3&#x3E;
        &#x3C;div id=&#x22;accordion-1-content-2&#x22; role=&#x22;region&#x22; class=&#x22;accordion__content&#x22; aria-labelledby=&#x22;accordion-1-trigger-2&#x22;&#x3E;
            &#x3C;p&#x3E;Lorem ipsum dolor sit amet, &#x3C;a href=&#x22;&#x22;&#x3E;consectetur&#x3C;/a&#x3E; adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;
    &#x3C;li class=&#x22;accordion__item&#x22;&#x3E;
        &#x3C;h3 class=&#x22;accordion__title&#x22;&#x3E;
            &#x3C;button aria-expanded=&#x22;false&#x22; class=&#x22;accordion__trigger&#x22; aria-controls=&#x22;accordion-1-content-3&#x22; id=&#x22;accordion-1-trigger-3&#x22;&#x3E;
                A specific title for this item
                &#x3C;span class=&#x22;accordion__handle&#x22;&#x3E;
                    &#x3C;svg viewBox=&#x22;0 0 20 10&#x22;&#x3E;&#x3C;path d=&#x22;M0,0 10,10 20,0&#x22;&#x3E;&#x3C;/path&#x3E;&#x3C;/svg&#x3E;
                &#x3C;/span&#x3E;
            &#x3C;/button&#x3E;
        &#x3C;/h3&#x3E;
        &#x3C;div id=&#x22;accordion-1-content-3&#x22; role=&#x22;region&#x22; class=&#x22;accordion__content&#x22; aria-labelledby=&#x22;accordion-1-trigger-3&#x22;&#x3E;
            &#x3C;p&#x3E;Lorem ipsum dolor sit amet, &#x3C;a href=&#x22;&#x22;&#x3E;consectetur&#x3C;/a&#x3E; adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium.&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/li&#x3E;
&#x3C;/ul&#x3E;</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="example-js-code"><a href="#example-js-code">Example Vanilla JavaScript Code</a></h2>
  <div class="demo-wrapper">
    <!-- htmlmin:ignore -->
    <pre class="source-code"><code class="language-javascript">const Accordion = class {
  constructor(s) {
    this.s = s;
    this.accordion = s.accordion;
    this.accordion_items = Array.prototype.slice.call(this.accordion.querySelectorAll(s.item_class));
    this.accordion_contents = Array.prototype.slice.call(this.accordion.querySelectorAll(s.content_class));
    this.accordion_triggers = Array.prototype.slice.call(this.accordion.querySelectorAll(s.trigger_class));
    this.init_click_focus = false;

    this.accordion_click = this.accordion_click.bind(this);
    this.navigate_accordions = this.navigate_accordions.bind(this);
    this.focus_trigger = this.focus_trigger.bind(this);
    this.blur_trigger = this.blur_trigger.bind(this);
    this._init_events();
  }

  _init_events() {
    // Loop through all the passed triggers and attach on click and navigation functions
    for (let i = 0; i < this.accordion_triggers.length; i++) {
      this.accordion_triggers[i].onclick = this.accordion_click;
      this.accordion_triggers[i].onkeydown = this.navigate_accordions;
      this.accordion_triggers[i].onfocus = this.focus_trigger;
      this.accordion_triggers[i].onblur = this.blur_trigger;
    }

    // If told to open the first accordion item trigger click
    if((this.s.open_first === true || this.s.open_first === 'true') && this.accordion_triggers.length > 0) {
      this.accordion_triggers[0].click();
    } else {
      this.init_click_focus = true;
    }
  }

  focus_trigger() {
    console.log('focus');
    this.s.accordion.classList.add('focussed-trigger');
  }

  blur_trigger() {
    console.log('blur');
    this.s.accordion.classList.remove('focussed-trigger');
  }

  navigate_accordions(e) {
    // Store key value of keypress
    var key = e.which.toString();

    // 38 = Up, 40 = Down
    // 33 = Page Up, 34 = Page Down
    var ctrlModifier = (event.ctrlKey && key.match(/33|34/));

    // Up/ Down arrow and Control + Page Up/ Page Down keyboard operations
    if (key.match(/38|40/) || ctrlModifier) {
      var index = this.accordion_triggers.indexOf(e.currentTarget);
      var direction = (key.match(/34|40/)) ? 1 : -1;
      var length = this.accordion_triggers.length;
      var newIndex = (index + length + direction) % length;

      this.accordion_triggers[newIndex].focus();

      e.preventDefault();
    }
    else if (key.match(/35|36/)) {
      // 35 = End, 36 = Home keyboard operations
      switch (key) {
        // Go to first accordion
        case '36':
          this.accordion_triggers[0].focus();
          break;
          // Go to last accordion
        case '35':
          this.accordion_triggers[this.accordion_triggers.length - 1].focus();
          break;
      }
      e.preventDefault();
    }
  }

  accordion_click(e) {

    // Determine if we are opening or closing the accordion item
    let method = (e.currentTarget.getAttribute('aria-expanded') === 'true') ? 'collapse' : 'expand';

    // Loop through each of the item triggers
    for (let i = 0; i < this.accordion_triggers.length; i++) {

      // Store the current trigger
      let item = this.accordion_triggers[i];

      // If are to collapse other accordions when one opened
      if(this.s.collapse_others) {
        // Set the current trigger to being not expanded
        item.setAttribute('aria-expanded', 'false');
        // Remove the open class from the accordion item
        this.accordion_items[i].classList.remove(this.s.open_class);
        // Remove the active class from the accordion content
        this.accordion_contents[i].classList.remove(this.s.content_active_class);
      }
    }

    // Variables to store the index of the item being clicked
    let active_index = this.accordion_triggers.indexOf(e.currentTarget);

    // If the detected movement is to collapse and set to not collapse other accordion items
    if (method === 'collapse' && this.s.collapse_others === false) {

      // Set the current trigger to being collapsed
      e.currentTarget.setAttribute('aria-expanded', 'false');
      // Remove the open class to the accordion item using corrosponding index
      this.accordion_items[active_index].classList.remove(this.s.open_class);
      // Remove the active class to the accordion content using corrosponding index
      this.accordion_contents[active_index].classList.remove(this.s.content_active_class);
    }

    // If the detected movement is to expand the accordion item
    if (method === 'expand') {

      // Set the current trigger to being expanded
      e.currentTarget.setAttribute('aria-expanded', 'true');
      // Add the open class to the accordion item using corrosponding index
      this.accordion_items[active_index].classList.add(this.s.open_class);
      // Add the active class to the accordion content using corrosponding index
      this.accordion_contents[active_index].classList.add(this.s.content_active_class);

      // Don't scroll into view in the first artificial click to expand first item
      if(this.init_click_focus) {
        // Get the bounding data for the clicked trigger
        var bounding = e.currentTarget.getBoundingClientRect();
        // Check against the current triggers position
        if (bounding.top >= 0 && bounding.left >= 0 && bounding.right <= window.innerWidth && bounding.bottom <= window.innerHeight) {
          // In view so do nothing
        } else {
          // Scroll new active accordion block into view
          e.currentTarget.scrollIntoView();
        }
      } else {
        this.init_click_focus = true;
      }
    }
  }
};

export default Accordion;</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="example-js-usage"><a href="#example-js-usage">Example Vanilla JavaScript Usage</a></h2>
  <div class="demo-wrapper">

    <!-- htmlmin:ignore -->
    <pre class="source-code"><code>const accordions = document.querySelectorAll('.accordion');

for (let i = 0; i < accordions.length; i++) {
  new Accordion({
    // Accordion group node
    accordion: accordions[i],
    // Identifier of the individual accordion item node within the group node
    item_class: '.accordion__item',
    // Class of the content section within the individual accordion item
    content_class: '.accordion__content',
    // Class of the trigger within the individual accordion item
    trigger_class: '.accordion__trigger',
    // Class to be added to the content section when active
    content_active_class: 'accordion__content--active',
    // Class to be added to the individual accordion item when active
    open_class: 'open',
    // Whether to open the first accordion item on page load
    open_first: accordions[i].getAttribute('data-open-first'),
    // Whether to collapse other accordions when one opened
    collapse_others: true
  });
}</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>

<div class="wrapper">
  <h2 class="demo-title" id="example-scss-code"><a href="#example-scss-code">Example SCSS Code</a></h2>
  <div class="demo-wrapper">
    <!-- htmlmin:ignore -->
    <pre class="source-code"><code>$accordion-border-width: 1px !default;
$accordion-border-color: black !default;
$accordion-bg: #fff !default;
$accordion-trigger-bg: #fff !default;
$accordion-trigger-bg--focus: #d1dceb !default;
$accordion-trigger-bg--highlight: #ededed !default;
$accordion-text-color: black !default;

$accordion-handle-width: 3em !default;
$accordion-handle-bg: #000 !default;
$accordion-handle-bg--focus: #335c91 !default;
$accordion-handle-bg--highlight: #474747 !default;

$accordion-arrow-scale: 0.5 !default;
$accordion-arrow-stroke: 3px !default;
$accordion-arrow-color: #fff !default;
$accordion-arrow-color--focus: $accordion-arrow-color !default;
$accordion-arrow-color--highlight: $accordion-arrow-color !default;
$accordion-arrow-transition--timing: 0.3s !default;

$accordion-content-vpad: 1em !default;
$accordion-content-hpad: 1.5em !default;

// Size of the gap between each accordion item
$accordion-gap: 2em;

.accordion {
  padding: 0;
  list-style: none;

  &__item {
    border: $accordion-border-width solid $accordion-border-color;
    background-color: $accordion-bg;
    margin-top: $accordion-gap;
  }

  &__title {
    margin: 0;
  }

  &__trigger {
    color: $accordion-text-color;
    font-weight: 700;
    margin: 0;
    width: 100%;
    border: 0;
    padding: $accordion-content-vpad ($accordion-content-hpad + $accordion-handle-width) $accordion-content-vpad $accordion-content-hpad;
    position: relative;
    background: $accordion-trigger-bg;
    font-size: inherit;
    text-align: left;
    cursor: pointer;

    .focussed-trigger & {
      background: $accordion-trigger-bg--highlight;
    }

    &:focus {
      background: $accordion-trigger-bg--focus;
    }
  }

  &__handle {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $accordion-handle-width;
    background-color: $accordion-handle-bg;
    border-left: $accordion-border-width solid $accordion-border-color;
    svg {
      position: absolute;
      width: (100% * (1 - $accordion-arrow-scale));
      height: (100% * (1 - $accordion-arrow-scale));
      top: (100% * ((1 - $accordion-arrow-scale) / 2));
      left: (100% * ((1 - $accordion-arrow-scale) / 2));
      fill: transparent;
      stroke: $accordion-arrow-color;
      stroke-width: $accordion-arrow-stroke;
      overflow: visible;
      transform-origin: 50% 50%;
      transform: rotate(0);
      transition: $accordion-arrow-transition--timing transform ease;
    }

    .focussed-trigger & {
      background-color: $accordion-handle-bg--highlight;
    }
  }

  &__trigger:focus &__handle {
    background-color: $accordion-handle-bg--focus;
  }

  &__item.open &__handle svg {
    transform: rotate(180deg);
  }
  &__content {
    display: none;
    padding: $accordion-content-vpad $accordion-content-hpad;
    border-top: $accordion-border-width solid $accordion-border-color;
    &>*:first-child {
      margin-top: 0;
    }
    &>*:last-child {
      margin-bottom: 0;
    }
  }
  &__content--active {
    display: block;
  }
}</code></pre>
    <!-- htmlmin:ignore -->
  </div>
</div>


{% endblock %}
