<!-- prettier-ignore -->
{% set title          = 'Accessible Components' %}
{% set description    = 'A journey to build a library of accessible components and the approaches behind them. This will be built up over time in my jorney for myself to build a more accessible web.' %}
{% set canonical      = '' %}

<!-- prettier-ignore -->
{% extends '../layout/index.html' %}
{% block content %}


<div class="wrapper page-intro">
  <h1 class="page-title">What is Accessible Components?</h1>
  <p>A journey to build a library of accessible components and the approaches behind them. This will be built up over time in my journey to ensure that I am building a more accessible web.</p>
  <p>This isn't an effort to create a component library, but more of a guide for when we are building components to ensure that the functionality is accessible for everyone.</p>
</div>

<div class="wrapper">
  <h2 class="">What if you spot something wrong or can be improved?</h2>
  <p>As I have said, this site is to document my journey through learning how to make accessibility, and so there is a chance that there may be something I can improve on. I am doing a lot of research with each of the components I look at, but I would always be appreciative of learning more.</p>
  <p>If you do see anything, you can reach me on <a href="https://twitter.com/whatsthatweasel">Twitter</a>, create an issue in the <a href="https://github.com/MatthewShields/accessible-components" target="_blank">Git Repo</a> or send me an email at <a href="mailto:accessiblecomponents@matthewshields.co.uk">accessiblecomponents@matthewshields.co.uk</a>.</p>
</div>

<div class="wrapper">
  <h2 class="">Accessible Component Guides</h2>
  <p>Here are the components that I have looked at so far, and the ones that I plan at looking at next as I keep working.</p>

  <a href="/accordion/" class="page-link">Accordion</a>
  <p class="page-link">Modal Dialog - Coming Soon</p>
  <p class="page-link">Tablist - Coming Soon</p>
  <p class="page-link">Slider - Coming Soon</p>
  <p class="page-link">Menu - Coming Soon</p>
  <p class="page-link">Skip Links - Coming Soon</p>
</div>


{% endblock %}
