<!-- prettier-ignore -->
{% set title          = 'Accessible Components' %}
{% set description    = 'A journey to educate and share myself on accessibility and making my sites more accessible.' %}
{% set canonical      = '' %}

<!-- prettier-ignore -->
{% extends '../layout/index.html' %}
{% block content %}


<div class="wrapper page-intro">
  <h1 class="page-title">Accessible Components</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At culpa nulla veritatis beatae ullam quas repellendus praesentium corporis deserunt ab porro alias debitis voluptatum, dignissimos adipisci, dolor laborum minus hic!</p>
</div>

<div class="wrapper">
  <a href="/accordion/" class="page-link">Accordion</a>
  <p class="page-link">Modal Dialog - Coming Soon</p>
  <p class="page-link">Tablist - Coming Soon</p>
  <p class="page-link">Slider - Coming Soon</p>
  <p class="page-link">Menu - Coming Soon</p>
</div>


{% endblock %}
