<!-- prettier-ignore -->
{% set title          = 'Accessible Components' %}
{% set description    = 'A journey to build a library of accessible components and the approaches behind them. This will be built up over time in my jorney for myself to build a more accessible web.' %}
{% set canonical      = '' %}

<!-- prettier-ignore -->
{% extends '../layout/index.html' %}
{% block content %}


<div class="wrapper page-intro">
  <h1 class="page-title">What is Accessible Components?</h1>
  <p>A journey to build a library of the approaches and requirements behind making the web's commonly used components accessible. This will be built up over time in my learning experience, to ensure that I am building a more accessible web.</p>
  <p>accessiblecomponents.dev isn't an effort to create a component library, there are already a whole bunch of them out there. What I want it to be is more of a guide for when building custom components to ensure that the functionality is accessible for everyone.</p>
  <p>If you are using a component library, remember that it's still important to assess the output and make sure they are accessible too. This should definitely be part of the criteria you look at when selecting which library you are going to use.</p>
</div>

<div class="wrapper">
  <h2>Why is building an accessible site important?</h2>
  <p>The web is a vital access point to information, services, social communication and goods for everyone. This isn't less vital for people with specific needs (in some cases it can be more so) as other options might cause more difficulties. Even with that being the case, a lot of websites aren't built in a way that allow people equal access to the internet and what it offers.</p>
  <p><strong>This is wrong.</strong></p>

  <h3>Whose responsibility is it to ensure a site is accessible?</h3>
  <p>In my opinion, there are lots of people who have responsibility for this, from the marketing team to the CEO and everyone inbetween. That said, a lot of the responsibility sits with the designers and developers creating these sites, ensuring that their work isn't exclusionary.</p>

  <h3>Who is accessibility for?</h3>
  <p>There are many ways in which someone may need help from you to ensure that they can fully use the website you are building.</p>
  <p>Some of the different ways that peoples ability to access your site are:</p>
  <ul>
    <li><strong>Partially Sighted</strong> - ensuring that there is enough contrast between colours and the size of text can help ensure that people aren't struggling to read the content or navigate.</li>
    <li><strong>Blind Users</strong> - people who can't see the site at all will need to use a screen reader. To ensure that this works correctly you will need to implement different measures such as descriptive text. Importantly I would recommend always testing with a screen reader.</li>
    <li><strong>Hearing Issues</strong> - making sure that audio content is also represented visually, with subtitles and transcripts. This can help with people who are deaf or have difficulty hearing.</li>
    <li><strong>Mobility Issues</strong> - people with issues moving may well use their keyboard or voice to navigate websites. It's our job as web developers to ensure that when we build new components or use standard components in different ways, that we don't interfere in this ability.</li>
    <li><strong>Comprehension Issues</strong> - long or complex sentences may be a barrier for some users. The size of text and font choice can also be factors in some cases.</li>
  </ul>
  <p>The above can be caused by a huge variety of conditions, or circumstances and in different combinations. They may be lifelong situations, or temporary due to an injury. Either way the number of people who will benefit is huge. And just because you personally aren't currently effected doesn't mean that you won't ever be.</p>
  <p>For example in the UK, according to <a href="https://www.scope.org.uk/media/disability-facts-figures/" target="_blank">Scope.org.uk</a> the breakdown of disabled people across age groups are:</p>
  <ul>
    <li>8% of children</li>
    <li>19% of working age adults</li>
    <li>45% of pension age adults</li>
  </ul>
  <p>When you look at these numbers, you can see how statistically, disability will effect either yourself or people in your life. So when I ask who is accessibility for? The answer is <strong>everyone</strong>.</p>

  <h3>Is accessibility hard to do?</h3>
  <p>This is a question that I have asked myself, and the answer is more complicated then a simple yes or no.</p>
  <p>There are some parts of accessibility that can be harder to implement than others, just as with anything else. There isn't any technology that I know of that is a singular level of difficulty. I would say that accessibility is easier to implement in the foundations, rather than implement later. This isn't an excuse not to implement at any time, but more of an incentive to make sure you implement from the very beginning.</p>
  <p>In my opinion, questioning the difficulty of accessibility is the wrong question to be asking. If we go down the line of judging the implementation of accessibility on its difficulty, then we are weighing up our effort against the inclusivity of millions of people. And when you say it like that, it definitely doesn't seem like an argument that you would want to be lost by Team Accessibility.</p>
</div>

<div class="wrapper">
  <h2>Why are you creating this if you are learning as you are doing it?</h2>
  <p>I am not guilting anyone here, I will admit that despite having been a developer for eight years now, I have only put a more serious focus on accessibility in the last couple of years.</p>
  <p>No excuses. For the majority of my development career it was something that I vaguely knew about, and did some of the essentials and thought that was enough. Since I have started learning more about accessibility, I have realised how 'some of the basics' is not enough. If we are to commit ourselves to creating an inclusive society, whether that being ridding it of homophobia, racism or sexism, then ableism is just as much a part of that goal too.</p>
  <p>A fair society is one where people have equal opportunity, treatment and access to that society. The internet is a vital access point into society and community.</p>
  <p>Part of the reason that I am doing this publically here is as an incentive for me to research deeply. I want to make sure that I am accurate and can be accountable for this. The other is to keep a record of what I learn. I find writing it down and having something to refer to later, helps cement that knowledge. I want to ensure that once I've learned, it makes its way through into my work.</p>
  <p>If any of what I write here helps someone else focus on or learn about accessibility, then that would be amazing. For us to fix this problem in tech, it's going to take all of us dedicating time and effort to do so. There are lots of resources out there as well, so use them, and maybe contribute some yourself too.</p>
</div>

<div class="wrapper">
  <h2>What if you spot something wrong or can be improved?</h2>
  <p>As I have said, this site is to document my own journey of learning how to make my sites more accessible, and so there is a chance that there may be something I can improve on. I am doing a lot of research with each of the components I look at, but I would always be appreciative of learning more.</p>
  <p>If you do see anything, you can reach me on <a href="https://twitter.com/whatsthatweasel" target="_blank">Twitter</a>, create an issue in the <a href="https://github.com/MatthewShields/accessible-components" target="_blank">Git Repo</a> or send me an email at <a href="mailto:accessiblecomponents@matthewshields.co.uk">accessiblecomponents@matthewshields.co.uk</a>.</p>
</div>

<div class="wrapper">
  <h2>Accessible Component Guides</h2>
  <p>Here are the components that I have looked at so far, and the ones that I plan at looking at next as I keep working.</p>

  <a href="/accordion/" class="page-link">Accordion</a>
  <p class="page-link">Modal Dialog - Coming Soon</p>
  <p class="page-link">Tablist - Coming Soon</p>
  <p class="page-link">Slider - Coming Soon</p>
  <p class="page-link">Menu - Coming Soon</p>
  <p class="page-link">Skip Links - Coming Soon</p>
</div>


{% endblock %}
