<div class="sidebar">
  <div class="sidebar__header">
    <a href="/" class="brand-link">Accessible Components</a>
    <button class="menu-link" id="menu-toggle" aria-label="Open main menu" aria-expanded="false" aria-controls="main-nav">☰</button>
  </div>

  {% set nav_links = [
    ['Accordion', '/accordion/'],
    ['Skip Links', '/skip-links/'],
    ['Slider', '/slider/'],
    ['Modal Dialog', false],
    ['Tablist', false],
    ['Menu', false],
  ] %}
  <div class="sidebar__inner">
    <nav class="main-nav" id="main-nav">
      <ul>
      {% for nav_link in nav_links %}
        <li>
          {% if nav_link[1] == false %}
            <p class="main-nav__link">{{ nav_link[0] }} - Coming Soon</p>
          {% else %}
            {% if nav_link[1] == active_page %}
              <a href="{{ nav_link[1] }}" class="main-nav__link main-nav__link--active">{{ nav_link[0] }}</a>
            {% else %}
              <a href="{{ nav_link[1] }}" class="main-nav__link">{{ nav_link[0] }}</a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </nav>
    <a href="https://matthewshields.co.uk/" target="_blank" class="main-nav__link main-nav__link--small">
      <img src="/assets/images/matthew-shields.svg" alt="Matthew Shields Logo" class="link-icon">
      Created by Matthew Shields
    </a>
    <a href="#menu-toggle" class="sr-only sr-only--mobile">Return to menu toggle button</a>
  </div>
</div>