////////////////////////////////////////
// Tailwind Imports - Optional
////////////////////////////////////////

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

////////////////////////////////////////
// Utils
////////////////////////////////////////

// @import 'utils/variables';
// @import 'utils/mixins';

////////////////////////////////////////
// Component Imports
////////////////////////////////////////

/* purgecss start ignore */

*, *:before, *:after {
  box-sizing: border-box;
}

/* noto-sans-jp-300 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Noto Sans Japanese Light'), local('NotoSansJapanese-Light'),
       url('../../fonts/noto-sans-jp-v25-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/noto-sans-jp-v25-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-700 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
       url('../../fonts/noto-sans-jp-v25-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/noto-sans-jp-v25-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-900 - latin */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Noto Sans Japanese Black'), local('NotoSansJapanese-Black'),
       url('../../fonts/noto-sans-jp-v25-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../../fonts/noto-sans-jp-v25-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, body {
  background: #3e3347;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #fff;
}

body.menu-open {
  overflow: hidden;
}

img {
  max-width: 100%;
}

.link-icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.8em 0 0;
}

.sidebar {
  width: 100%;
  position: fixed;
  background: #212121;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 8;
  max-height: 100vh;

  @media screen and (min-width: 1000px) {
    width: 300px;
    height: 100vh;
    border-right: 5px white solid;
  }

  &__header {
    position: relative;
  }

  &__inner {
    display: none;
    flex-direction: column;
    overflow: auto;
    flex-grow: 1;
    @media screen and (min-width: 1000px) {
      display: flex;
      overflow: hidden;
    }
  }

  .menu-open &__inner {
    display: flex;
  }
}

.main-nav {
  @media screen and (min-width: 1000px) {
    flex-grow: 1;
    overflow: auto;
  }

  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__link {
    padding: 20px;
    margin: 0;
    display: block;
    font-weight: 700;
    border-top: 1px rgba(255,255,255,0.5) solid;
    color: #ABABAB;

    &[href] {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    &--active[href] {
      text-decoration: underline;
    }

    &--small {
      font-weight: 300;
      font-size: 0.8rem;
    }
  }
}

.brand-link {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  line-height: 1em;
  font-size: 1.5rem;
  padding: 20px;
  margin: 0 70px 0 0;
  display: block;
  &:hover {
    text-decoration: underline;
  }
  @media screen and (min-width: 1000px) {
    margin: 0;
    padding: 30px 20px;
    font-size: 2rem;
  }
}

.menu-link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 2rem;
  line-height: 1em;
  padding: 5px 10px;
  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.sr-only {
  font-size: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;

  &:focus {
    font-size: 1rem;
    width: auto;
    height: auto;
    z-index: 10;
    background: #fff;
    color: #000;
    padding: 10px 20px;
  }

  &--mobile {
    @media screen and (min-width: 1000px) {
      display: none;
    }
  }
}

.main-content {
  overflow: hidden;
  @media screen and (min-width: 1000px) {
    margin: 0 0 0 320px;
  }
}

.desktop-only {
  display: none;
  @media screen and (min-width: 600px) {
    display: block;
  }
}

.mobile-only {
  @media screen and (min-width: 600px) {
    display: none;
  }
}

.wrapper {
  margin: 100px auto;
  padding: 0 20px;
  max-width: 1000px;
  @media screen and (min-width: 1000px) {
    padding: 0 30px;
  }
}

.page-link {
  display: block;
  position: relative;
  padding: 1rem 1.5rem;
  border-left: 3px #a3a3a3 solid;
  font-size: 1.5rem;
  font-weight: 700;
  color: #A3A3A3;
  text-decoration: none;
  margin: 2rem 0 0;

  &:first-child {
    margin: 0;
  }

  &:before,
  &:after {
    content: '';
    background: #f5f3df;
    background: linear-gradient(20deg, rgba(163, 163, 163,1) 0%,rgba(163, 163, 163,1) 15%,rgba(163, 163, 163,0) 89%,rgba(163, 163, 163,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: absolute;

  }

  &:before {
    width: 30px;
    height: 3px;
    top: 0;
    left: -3px;
  }

  &:after {
    width: 80px;
    height: 3px;
    bottom: -3px;
    left: -3px;
  }

  &[href] {
    color: #fff;
    border-left: 3px #f5f3df solid;

    &:before,
    &:after {
      background: linear-gradient(20deg, rgba(245,243,223,1) 0%,rgba(245,243,223,1) 15%,rgba(245,243,223,0) 89%,rgba(245,243,223,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }

  &[href]:hover {
    text-decoration: underline;
  }

  & + .page-link {
    margin: 2rem 0 0;
  }
}

.demo-title {
  padding-left: 20px;
  position: relative;
  margin: 1rem -20px;
  font-size: 1.75rem;
  @media screen and (min-width: 1000px) {
    margin: 1rem -30px;
    padding-left: 30px;
  }

  &:before {
    content: '';
    background: #f5f3df;
    width: 3px;
    height: 200%;
    position: absolute;
    top: -16px;
    left: 0;
  }

  &:after {
    content: '';
    background: #f5f3df;
    background: linear-gradient(20deg, rgba(245,243,223,1) 0%,rgba(245,243,223,1) 15%,rgba(245,243,223,0) 89%,rgba(245,243,223,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 30px;
    height: 3px;
    position: absolute;
    top: -16px;
    left: 0;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.demo-wrapper {
  padding: 20px;
  // border: 1px black solid;
  background: #f5f3df;
  border-radius: 0.75rem;
  color: #000;
  margin: 0 -20px;
  @media screen and (min-width: 1000px) {
    margin: 0 -30px;
    padding: 30px;
  }

  h1, h2,h3 {
    color: #000;
  }

  a {
    color: inherit;
    font-weight: 700;
  }

  > img {
    border: 5px white solid;
  }

  >*:first-child {
    margin-top: 0;
  }

  >*:last-child {
    margin-bottom: 0;
  }
}

.demo-title + .demo-wrapper {
  border-radius: 0 0.75rem 0.75rem 0.75rem;
}

h1, h2,h3 {
  color: #fff;
  font-weight: 900;
  line-height: 1.2em;
}

h2 {
  font-size: 1.65rem;
  margin: 4rem 0 1rem;
}

h3 {
  font-size: 1.35rem;
  margin: 3rem 0 1rem;
}

li {
  margin: 1rem 0;
}

a {
  color: #F4F0C8;
  font-weight: 700;
}

.page-title {
  // margin: 0 0 3rem;
}

.page-intro {
  font-size: 1.25rem;
}

.requirements-table {
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  td {
    border-top: 2px #c4b899 solid;
    &:nth-child(1) {
      font-weight: 700;
    }
  }
  th {
    font-size: 1.15rem;
    font-weight: 900;
  }
  th,td {
    padding: 15px 0 15px 20px;
    vertical-align: top;
    // border-bottom: 2px #c4b899 solid;
    &:nth-child(1) {
      // width: 130px;
      padding-left: 0;
      @media screen and (min-width: 1000px) {
        width: 200px;
      }
    }
  }
}

hr {
  border: 0;
  height: 2px;
  background: #948a6f;
  margin: 3rem 0;
}

.source-code {
  max-height: 460px;
  overflow: auto;
  background: #181914;
  padding: 2rem;
  color: white;
}



.hljs {
  display: block;
  // overflow-x: auto;
  padding: 0.5em;
  color: #dccf8f;
  background: url(./pojoaque.jpg) repeat scroll left top #181914;
}

.hljs-comment,
.hljs-quote {
  color: #586e75;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-addition {
  color: #b64926;
}

.hljs-number,
.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #468966;
}

.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-name {
  color: #ffb03b;
}

.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type,
.hljs-tag {
  color: #b58900;
}

.hljs-attribute {
  color: #b89859;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-subst,
.hljs-meta {
  color: #cb4b16;
}

.hljs-deletion {
  color: #dc322f;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #d3a60c;
}

.hljs-formula {
  background: #073642;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}



/* purgecss end ignore */

@import 'imports/example';
@import 'imports/accordion';
@import 'imports/modal';
@import 'imports/tabs';
@import 'imports/slider';